#### Lendo base de dados
Link: https://www.kaggle.com/datasets/burnoutminer/heights-and-weights-dataset/

In [10]:
import pandas as pd
from scipy import stats

In [3]:
df = pd.read_csv('datasets/SOCR-HeightWeight.csv')  
df.head()

   Index  Height(Inches)  Weight(Pounds)
0      1        65.78331        112.9925
1      2        71.51521        136.4873
2      3        69.39874        153.0269
3      4        68.21660        142.3354
4      5        67.78781        144.2971

### Média

In [4]:
# Media
df.mean()

Index             12500.500000
Height(Inches)       67.993114
Weight(Pounds)      127.079421
dtype: float64

In [6]:
# Media
df[df['Weight(Pounds)'] > 140].mean()

Index             12497.066038
Height(Inches)       69.538768
Weight(Pounds)      145.926048
dtype: float64

In [9]:
# Mediana
df.median()

Index             12500.50000
Height(Inches)       67.99570
Weight(Pounds)      127.15775
dtype: float64

In [13]:
# Media aparada: ha remocao de 10% de dados de cada extremo
#calculate 10% trimmed mean of 'points' and 'assists' columns, 
stats.trim_mean(df[['Weight(Pounds)']], 0.1)

array([127.10234021])

### Estimativas de Variabilidade (ou dispersão)

Mede se os valores de dados estão compactados ou espalhados.

   > Desvios (erros ou resíduos): diferença entre os valores observados e a estimativa de localização

In [15]:
# Variancia (erro médio quadrático)
df.var()

Index             5.208542e+07
Height(Inches)    3.616382e+00
Weight(Pounds)    1.359765e+02
dtype: float64

In [18]:
# Desvio padrão (norma Euclidiana ou norma l2)
df.std()

Index             7217.022701
Height(Inches)       1.901679
Weight(Pounds)      11.660898
dtype: float64

In [21]:
# Desvio absoluto médio: Mediana do valor absoluto dos desvios da mediana
stats.median_abs_deviation(df[['Weight(Pounds)']])

array([7.79225])

In [22]:
# Desvio absoluto médio: média do valor absoluto dos desvio da média
df.mad()

Index             6250.000000
Height(Inches)       1.517945
Weight(Pounds)       9.282490
dtype: float64

In [23]:
df.describe()

              Index  Height(Inches)  Weight(Pounds)
count  25000.000000    25000.000000    25000.000000
mean   12500.500000       67.993114      127.079421
std     7217.022701        1.901679       11.660898
min        1.000000       60.278360       78.014760
25%     6250.750000       66.704397      119.308675
50%    12500.500000       67.995700      127.157750
75%    18750.250000       69.272958      134.892850
max    25000.000000       75.152800      170.924000